body {


    margin:0px;
    padding:0px;
    
    background-color:burlywood;
    background-repeat:no-repeat;
    background-position: top left;

}

html,*{
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
        color: #999;
        text-align:right;
        text-decoration:underline;
        text-transform: capitalize;
        
        
    }
}

#para{
    color:blue;
    display:inline;
    clear:both;
}

ul {
    list-style: none;

}

ul li{
    float:left; margin: 30px;
}










